@charset "utf-8";
/* CSS Document */

/*default Styling*/
html {font-size: 100%;}/*reset html font size*/
* {box-sizing: border-box;}/*include padding and border*/
body
{
	margin: 0;/*remove default browser margin*/
	padding: 0;/*remove default padding*/
	background: url(../image/bg2.jpg) no-repeat;/*set background image and no-repeat*/
	-webkit-background-size: cover;/*for safari browser*/
	-moz-background-size: cover;/*for mozila firefox browser*/
	-o-background-size: cover;/*for opera browser*/
	background-size: cover;/*bg-size will cover full view*/ 
}

/*box Styling*/
.box
{
	max-width: 450px;/*box width*/
	height: auto;
	background: rgba(0,0,0,0.4);/*create transperant box*/
	padding: 40px;/*padding 40px*/
	text-align: center;/*text in center*/
	margin: auto;/*set auto for browser*/
	margin-top: 2%;/*left top margin 2%*/
	color: #FFFFFF;/*text color white*/
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";/*font style*/
}

/*Styling profile image*/
.box-img
{
	border-radius: 50%;/*it create full ronded border*/
	width: 150px;/*set image width 150px*/
	height: 150px;/*set image height 150px;*/
}

/*Styling heading and box*/
.box h1
{
	font-size: 2.500em;/*set font size 40px;*/
	letter-spacing: 4px;/*space aroound 3px*/
	font-weight: 100;/*for text bold*/
}

/*Styling box and baseline*/
.box h4
{
	font-size: 1.375em;/*set font size 40px;*/
	letter-spacing: 3px;/*space aroound 3px*/
	font-weight: 50;/*for text bold*/
}

/*styling life+code+design*/
.box h3
{
	font-size: 1.250em;/*20px*/
	letter-spacing: 5px;/*5px space within letter*/
	text-decoration: underline;
}

/*Styling paragraph in box*/
.box p
{
	text-align: center;/*redable like news paper*/
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 1.125em;/*18px font*/
	word-spacing: 2px;
}

/*Styling navigation bar default*/
ul
{
	margin: 0;/*remove default margin*/
	padding: 0;/*remove default padding*/
}

/*style list item*/
.box li
{
	display: inline-block;
	margin: 6px;
	list-style-type: none;
}

/*Styling list item and link*/
.box li a
{
	color: #FFFFFF;/*white text*/
	text-decoration: none;/*remove default underscore*/
	font-size: 3.125em;/*link size 50px*/
	transition: all ease-in-out 250ms;/*for effect on hoverover*/
}

/*Styling for hover over on link*/
.box li a:hover
{
	color: #B9B9B9;/*light gray color*/
}

/*Styling for footer*/
.footer
{
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color: #FFFFFF;
}



/*for responsive*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.box{max-width: 100%;}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
	.box{width: 100%;}
	body{background-size: cover;}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
	.box{width: 100%;}
	body{background-size: cover;}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.box{width: 100%;}
	body{background-size: cover;}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.box{max-width: 100%;}
	body{background-size: cover;}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.box{width: 100%;}
	body{background-size: cover;}
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
	.box{width: 100%;}
	body{background-size: cover;}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
	.box{width: 100%;}
	body{background-size: cover;}
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
	.box{width: 100%;}
	body{background-size: cover;}
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
	.box{max-width: 100%;}
	body{background-size: cover;}
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
	.box{width: 100%;}
	body{background-size: cover;}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
	.box{width: 100%;}
	body{background-size: cover;}
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	.box{width: 100%;}
	body{background-size: cover;}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	.box{width: 100%;}
	body{background-size: cover;}
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	.box{max-width: 100%;}
	body{background-size: cover;}
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	.box{width: 100%;}
	body{background-size: cover;}
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	.box{width: 100%;}
	body{background-size: cover;}
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	.box{width: 100%;}
	body{background-size: cover;}
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	.box{width: 100%;}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	..box{max-width: 100%;}
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
	.box{width: 100%;}
	body{background-size: cover;}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
	.box{width: 100%;}
	body{background-size: cover;}
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
	.box{width: 100%;}
	body{background-size: cover;}
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
	.box{max-width: 100%;}
	body{background-size: cover;}
}

